html {
  font-family: 'Nunito', sans-serif;
}

nav ul {
  list-style-type: none;
}

#nav-bar {
  float: right;
}

#nav-bar a:hover {
  color: #9E9E9E;
}

#nav-bar a:active {
  color: #9E9E9E;
}

#nav-bar a.active {
  color: #9E9E9E;
}

.fa {
  color: black;
}

.contact a {
  text-decoration: none;
  list-style-type: none;
  color: #000000;
}


@media (max-width : 2000px) and (min-width : 1001px) {
  /*desktop*/

  li {
    /*height: 20px;*/
    float: left;
    margin-right: 20px;
    padding: 20px 50px;
  }

  #nav-bar a {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
  }

  .jenpic img {
    width: 27%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    margin: auto;
    float: left;
  }

  .vr {
      position: absolute;
      width:2.5px;
      background-color:#000;
      top: 28%;
      bottom: 28%;
      left: 0;
      right: 0;
      margin: auto;
  }

  #text {
    line-height: 1.5;
    position: absolute;
    width: 26%;
    text-align: left;
    letter-spacing: 1px;
    float: left;
    margin-left: 60%;
    margin-top: 15%;
    }

  .title {
    font-size: 40px;
    /*position: absolute;*/
    float: left;
    margin-left: 180px;
    margin-top: -40px;
    line-height: 0.8;
  }

  .title2 {
    font-size: 25px;
    margin-left: 150px;
  }

  .title-style {
    font-size: 62px;
    font-family: 'Source Sans Pro', sans-serif;
  }

}

@media (max-width : 1000px) and (min-width : 750px) {
  /*ipad portrait*/

  li {
    /*height: 20px;*/
    float: left;
    margin-right: 20px;
    padding: 20px 50px;
  }

  #nav-bar a {
    text-decoration: none;
    font-size: 13px;
    color: #000000;
  }

  .jenpic img {
    width: 35%;
    height: auto;
    position: absolute;
    margin: 0;
    top: 48%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }


  #text {
    font-size: 14px;
    line-height: 1.5;
    position: absolute;
    width: 55%;
    text-align: justify;;
    margin-top: 133%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

 #text div {
   margin-bottom: 50px;
 }

 .contact {
   text-align: center;
 }

  .title {
    font-size: 30px;
    line-height: 2;
    position: absolute;
    margin: 0;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .title2 {
    font-size: 20px;
    margin-left: 10px;
    position: absolute;
    margin: 0;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .title-style {
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .show-title {
    text-align: center;
    font-size: 17px;
    top: 75%;
  }
}

@media (min-width : 381px) and (max-width : 450px){
  /*iphone 6 plus portrait*/

li {
  /*height: 20px;*/
  float: left;
  margin-right: 20px;
  padding: 20px 50px;
}

#nav-bar a {
  text-decoration: none;
  font-size: 13px;
  color: #000000;
}

.jenpic img {
  width: 67%;
  height: auto;
  position: absolute;
  margin: 0;
  top: 38%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


#text {
  font-size: 14px;
  line-height: 1.5;
  position: absolute;
  width: 75%;
  text-align: justify;;
  margin-left: 10%;
  margin-top: 97%;
  margin-bottom: 20px;
  }

#text div {
 margin-bottom: 50px;
}

.contact {
 text-align: center;
}

.title {
  font-size: 30px;
  line-height: 2;
  position: absolute;
  margin: 0;
  top: 5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title2 {
  font-size: 20px;
  margin-left: 20px;
  position: absolute;
  margin: 0;
  top: 75%;
  left: 72%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title-style {
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}

.show-title {
  text-align: center;
  font-size: 17px;
  top: 75%;
}

}

@media (min-width : 351px) and (max-width : 380px){
  /*iphone 6 portrait*/

li {
  /*height: 20px;*/
  float: left;
  margin-right: 20px;
  padding: 20px 50px;
}

#nav-bar a {
  text-decoration: none;
  font-size: 13px;
  color: #000000;
}

.jenpic img {
  width: 67%;
  height: auto;
  position: absolute;
  margin: 0;
  top: 43%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


#text {
  font-size: 14px;
  line-height: 1.5;
  position: absolute;
  width: 75%;
  text-align: justify;;
  margin-left: 10%;
  margin-top: 97%;
  margin-bottom: 20px;
  }

#text div {
 margin-bottom: 50px;
}

.contact {
 text-align: center;
}

.title {
  font-size: 30px;
  line-height: 2;
  position: absolute;
  margin: 0;
  top: 5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title2 {
  font-size: 20px;
  margin-left: 20px;
  position: absolute;
  margin: 0;
  top: 75%;
  left: 72%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title-style {
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}

.show-title {
  text-align: center;
  font-size: 17px;
  top: 75%;
}

}

@media (min-width: 581px) and (max-width : 740px) {
  /*iphone 6 landscape*/
  li {
    /*height: 20px;*/
    float: left;
    margin-right: 20px;
    padding: 20px 50px;
  }

  #nav-bar a {
    text-decoration: none;
    font-size: 13px;
    color: #000000;
  }

  .jenpic img {
    width: 36%;
    height: auto;
    position: absolute;
    margin: 0;
    top: 64%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }


  #text {
    font-size: 14px;
    line-height: 1.5;
    position: absolute;
    width: 55%;
    text-align: justify;;
    margin-top: 120%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

 #text div {
   margin-bottom: 50px;
 }

 .contact {
   text-align: center;
 }

  .title {
    font-size: 30px;
    line-height: 2;
    position: absolute;
    margin: 0;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .title2 {
    font-size: 20px;
    margin-left: 10px;
    position: absolute;
    margin: 0;
    top: 75%;
    left: 72%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .title-style {
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .show-title {
    text-align: center;
    font-size: 17px;
    top: 75%;
  }
}

@media (min-width: 560px) and (max-width : 580px) {
  /*iphone 5 landscape*/
  li {
    /*height: 20px;*/
    float: left;
    margin-right: 20px;
    padding: 20px 50px;
  }

  #nav-bar a {
    text-decoration: none;
    font-size: 13px;
    color: #000000;
  }

  .jenpic img {
    width: 36%;
    height: auto;
    position: absolute;
    margin: 0;
    top: 64%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }


  #text {
    font-size: 14px;
    line-height: 1.5;
    position: absolute;
    width: 55%;
    text-align: justify;;
    margin-top: 133%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

 #text div {
   margin-bottom: 50px;
 }

 .contact {
   text-align: center;
 }

  .title {
    font-size: 30px;
    line-height: 2;
    position: absolute;
    margin: 0;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .title2 {
    font-size: 20px;
    margin-left: 10px;
    position: absolute;
    margin: 0;
    top: 75%;
    left: 72%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .title-style {
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .show-title {
    text-align: center;
    font-size: 17px;
    top: 75%;
  }
}


@media (min-width: 80px) and (max-width : 350px) {
 /*iphone 5 portrait*/
 li {
   /*height: 20px;*/
   float: left;
   margin-right: 20px;
   padding: 20px 50px;
 }

 #nav-bar a {
   text-decoration: none;
   font-size: 13px;
   color: #000000;
 }

 .jenpic img {
   width: 73%;
   height: auto;
   position: absolute;
   margin: 0;
   top: 51%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
 }


 #text {
   font-size: 15px;
   line-height: 1.5;
   position: absolute;
   width: 75%;
   text-align: justify;;
   margin-left: 10%;
   margin-top: 111%;
   margin-bottom: 20px;
   }

#text div {
  margin-bottom: 50px;
}

.contact {
  text-align: center;
}

 .title {
   font-size: 30px;
   line-height: 2;
   position: absolute;
   margin: 0;
   top: 5%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
 }

 .title2 {
   font-size: 20px;
   margin-left: 10px;
   position: absolute;
   margin: 0;
   top: 75%;
   left: 72%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
 }

 .title-style {
   font-size: 50px;
   font-family: 'Source Sans Pro', sans-serif;
 }

 .show-title {
   text-align: center;
   font-size: 17px;
   top: 75%;
 }
}
