html {
  font-family: 'Nunito', sans-serif;
}

nav ul {
  list-style-type: none;
}

#nav-bar {
  float: right;
}

#nav-bar a:hover {
  color: #9E9E9E;
}

.fa {
  color: black;
}
@media (max-width : 2000px) and (min-width : 900px) {
  /*desktop*/

  li {
    /*height: 20px;*/
    float: left;
    margin-right: 20px;
    padding: 20px 50px;
  }

  #nav-bar a {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
  }

  .jenpic img {
    width: 390px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    margin: auto;
    float: left;
  }

  .vr {
      position: absolute;
      width:2.5px;
      background-color:#000;
      top: 28%;
      bottom: 28%;
      left: 0;
      right: 0;
      margin: auto;
  }

  #text {
    line-height: 1.5;
    position: absolute;
    width: 26%;
    text-align: left;
    letter-spacing: 1px;
    float: left;
    margin-left: 60%;
    margin-top: 15%;
    }

  .title {
    font-size: 40px;
    /*position: absolute;*/
    float: left;
    margin-left: 180px;
    margin-top: -30px;
    line-height: 1;
  }

  .title2 {
    font-size: 25px;
    margin-left: 60px;
  }

  .title-style {
    font-size: 62px;
    font-family: 'Source Sans Pro', sans-serif;
  }

}

@media (min-width : 600px) and (max-width : 900px){
  /*mobile landscape/mini-ipad*/

}

@media (min-width: 350px) and (max-width : 600px) {
  /*mobile*/

}

@media (min-width: 80px) and (max-width : 350px) {
 /*iphone*/
 li {
   /*height: 20px;*/
   float: left;
   margin-right: 20px;
   padding: 20px 50px;
 }

 #nav-bar a {
   text-decoration: none;
   font-size: 13px;
   color: #000000;
 }

 .jenpic img {
   width: 250px;
   height: auto;
   position: absolute;
   margin: 0;
   top: 42%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
 }


 #text {
   font-size: 14px;
   line-height: 1.5;
   position: absolute;
   width: 75%;
   text-align: justify;;
   margin-left: 10%;
   margin-top: 111%;
   margin-bottom: 20px;
   }

#text div {
  margin-bottom: 50px;
}

.contact {
  text-align: center;
}

 .title {
   font-size: 30px;
   line-height: 2;
   position: absolute;
   margin: 0;
   top: 5%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
 }

 .title2 {
   font-size: 20px;
   margin-left: 10px;
   position: absolute;
   margin: 0;
   top: 75%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
 }

 .title-style {
   font-size: 50px;
   font-family: 'Source Sans Pro', sans-serif;
 }

 .show-title {
   text-align: center;
   font-size: 17px;
   top: 75%;
 }
}
